<p id="notice"><%= notice %></p>

<p><%= link_to "Cached", cached_posts_path %></p>

<p><%= link_to "Uncached", uncached_posts_path %></p>

<p><%= link_to "Uncached Collection", collection_posts_path %></p>

<p><%= link_to "Cached Collection", cachedcollection_posts_path %></p>

<h1>Fragment Caching</h1>

<h2>Posts Without Caching</h2>

<%= render @posts %>

<%= link_to 'New Post', new_post_path %>
